<template>
    <tr>
        
            <td>
                <input type="text" class="form-control form-control-sm" placeholder="Nume categorie" v-model="name" :disabled="!editMode">
            </td>
            <td>
                <input type="text" class="form-control form-control-sm" placeholder="Descriere categorie" v-model="description" :disabled="!editMode">
            </td>
    
        <td> 
            <div v-if="!editMode" class="row float-right mr-0">
                <button  class="btn btn-danger btn-sm ml-1 float-right" @click="onDeleteCategory(category.id)">
                    <font-awesome-icon icon="trash-alt" />
                    <span class="ml-1">Sterge</span>
                </button>
                <button  class="btn btn-secondary btn-sm ml-1 float-right" @click="enableEditMode">
                    <font-awesome-icon icon="pencil-alt" />
                    <span class="ml-1">Editeaza</span>
                </button>
            </div>
             <div v-else class="row float-right mr-0">
                <button  class="btn btn-danger btn-sm ml-1 float-right" @click="disableEditMode">
                    <font-awesome-icon icon="times" />
                    <span class="ml-1">Anuleaza</span>
                </button>
                <button  class="btn btn-info btn-sm ml-1 float-right" @click="editCategory">
                    <font-awesome-icon icon="save" />
                    <span class="ml-1">Salveaza</span>
                </button>
                
            </div>
        </td>
    </tr>
</template>

<script>
export default {
    name: 'CategoryItem',
    components: {},
    props: ["category", "onDeleteCategory", "onEditCategory"],
    data() {
        return {
            editMode: false,
            name: '',
            description: ''
        }
    },
    mounted() {
        this.name = this.category.name
        this.description = this.category.description
    },
    methods: {
        enableEditMode: function() {
            this.editMode = true;
        },
        disableEditMode: function() {
            this.editMode = false;
            this.name = this.category.name
            this.description = this.category.description
        },
        editCategory: function() {
            let category = {
                name: this.name,
                description: this.description
            }
            this.onEditCategory(this.category.id, category);
            this.editMode = false;
        }
    }

}
</script>