<template>
   <div class="card mt-3">
    <div class="card-body">
            <h4 class="font-weight-normal mb-2">
                Categorii
            </h4>      

    <div class="table-responsive">
    <table class="table table-sm mt-4">
        <thead>
            <tr>
            <th scope="col">Denumire</th>
            <th scope="col">Descriere</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <template v-for="category in categories" >
               <CategoryItem :category="category" v-bind:key="category.id" :onDeleteCategory="onDeleteCategory" :onEditCategory="onEditCategory"/>
            </template>

            <tr>
                <td>
                    <input type="text" class="form-control form-control-sm" placeholder="Nume categorie" v-model="name">
                </td>
                 <td>
                    <input type="text" class="form-control form-control-sm" placeholder="Descriere categorie" v-model="description">
                </td>
                 <td>
                    <button  class="btn btn-info btn-sm ml-1 float-right" @click="addCategory">
                        <font-awesome-icon icon="plus" />
                        <span class="ml-1">Adauga</span>
                    </button>                
                </td>
            </tr>
            
        </tbody>
    </table>
    </div>
         <button  class="btn btn-warning btn-sm ml-1 text-white" @click="onDisableCategoriesSection">
            <font-awesome-icon icon="check" />
            <span class="ml-1">Terminat</span>
        </button> 
    </div>
    </div>
    
</template>

<script>

import CategoryItem from './CategoryItem';


export default {
    name: 'CategoriesSection',
    components: {
        CategoryItem
    },
    props: ["categories", "onDisableCategoriesSection", "onAddCategory", "onDeleteCategory", "onEditCategory"],
    data() {
        return {
            name: '',
            description: '',
        }
    },
    methods: {
        addCategory: function() {
            let category = { 
                name: this.name,
                description: this.description
            }
            this.name = '';
            this.description = '';
            this.onAddCategory(category);
        }
    },
}
</script>


