<template>
    <div class="card" v-bind:style="{height: '100%'}">
        <img  src="https://www.freeiconspng.com/uploads/book-bookmark-icon-5.png" style="height: 140px; width:140px" class="card-img-top mt-3" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{book.name}}</h5>
            <h6 class="font-weight-normal">Autor: {{book.author}}</h6>
            <h6 class="font-weight-light">Categorie: {{ category }}</h6>
            <h6 class="font-weight-light">Donata la: {{ bookDate }}</h6>

            <hr />
            <p class="card-text font-weight-lighter">{{longDescription}}</p>

             <button class="btn btn-info btn-sm" data-toggle="modal" :data-target="'#bookDetails' + book.id">
                <font-awesome-icon icon="info-circle" />
                <span class="ml-1">Vezi detalii</span>
            </button>
             <button v-if="isAuthenticated && user && book.userId === user.id" class="btn btn-danger btn-sm ml-1" @click="onDeleteBook(book.id)">
                <font-awesome-icon icon="trash-alt" />
                <span class="ml-1">Sterge</span>
            </button>
             <button  v-if="isAuthenticated && user &&  book.userId === user.id" class="btn btn-secondary btn-sm ml-1" data-toggle="modal" :data-target="'#editBook' + book.id">
                <font-awesome-icon icon="pencil-alt" />
                <span class="ml-1">Editeaza</span>
            </button>

            <BookDetailsModal :book="book" :category="category" :donator="donator"/>
            <NewBookModal :modalId="'editBook' + book.id" :categories="categories" :editMode="true" :book="book" :onEditBook="onEditBook"/>


        </div>
    </div>
</template>

<script>

import BookDetailsModal from './BookDetailsModal';
import NewBookModal from './NewBookModal';
import moment from 'moment';


export default {
    name: 'BookItem',
    components: {
        BookDetailsModal, NewBookModal
    },
    props:["book","categories","users","user","isAuthenticated","onDeleteBook","onEditBook"],
    computed: {
        category: function() {
            let categoryId = this.book.categoryId;
            for(let category of this.categories) {
                if(categoryId === category.id) {
                    return category.name;
                }
            }
            return 'categorie necunoscuta';
        },
        donator: function() {
            let userId = this.book.userId;
            for(let user of this.users) {
                if(userId === user.id) {
                    return user;
                }
            }
            return { address: {}};
        }, 
        bookDate: function() {
            return moment(this.book.date).format("MMM Do YYYY, HH:mm:ss");
        },
        longDescription: function() {
            if(this.book.description.length > 40) {
                return this.book.description.substr(0,40) + '...'
            } else {
                return this.book.description;
            }
        }
    }
}
</script>