<template>
    <div class="row">
        <div class="col-sm-4 mt-3 mb-3" v-for="book in paginatedBooks" v-bind:key="book.id">
            <BookItem :book="book" :categories='categories' :users="users" :user="user" :isAuthenticated="isAuthenticated" :onDeleteBook="onDeleteBook" :onEditBook="onEditBook"/>
        </div>
    </div>

</template>

<script>

import BookItem from './BookItem';

export default {
    name: 'BookList',
    components: {
        BookItem
    },
    props: ['books','categories', 'users', 'user', 'isAuthenticated', 'onDeleteBook', 'onEditBook','page'],
    computed: {
        paginatedBooks: function() {
            let step = this.page * 6;
            let books = [];
            for(let i=step;i<step+6;i++) {
                if(this.books[i]) {
                    books.push(this.books[i]);
                }
            }
            return books
        }
    }
}
</script>