<template>
    <div class="card mt-3 mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <nav class="pl-0 pr-0" aria-label="Page navigation example">
                        <ul v-if="totalNumber !== 0" class="pagination mt-0 mb-0">
                            
                            <li class="page-item"><button type="button" class="page-link btn-sm" @click="prevPage" v-bind:style="{ color: 'black'}">Anterioara</button></li> 

                            <li v-for="page in getPagesToShow()" v-bind:key="page" class="page-item"><button type="button" class="page-link btn-sm" v-bind:style="getStyle(page)" @click="changePage(page)">{{ page + 1}}</button></li>
                                                    
                            <li class="page-item"><button type="button" class="page-link btn-sm" @click="nextPage" v-bind:style="{ color: 'black'}">Urmatoarea</button></li>

                        </ul>
                    </nav>
                </div>
                <div class="col-sm-6">
                    <div class="float-right font-weight-light mt-1">
                        {{ currentBooksNumber }} din {{ this.totalNumber }} carti
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'BooksPagination',
    components: {},
    props: ["totalNumber", "page", "onPrevPage", "onNextPage", "onChangePage"],
    data() {
        return {
            pageOptionsNumber: 4,
            itemsPerPage: 6
        }
    },
    methods: {
        getPagesToShow: function() {
            let pagesToShow = [];
            let startPage = this.pageOptionsNumber * parseInt(this.page/this.pageOptionsNumber);
            for(let page=startPage; page<startPage+this.pageOptionsNumber; page++) {
                if(page * this.itemsPerPage < this.totalNumber) {
                    pagesToShow.push(page); 
                }
            }
            return pagesToShow;
        },
        getStyle: function(page) {
            let backgroundColor='white';
            let color = 'black';
            if(page===this.page) {
                backgroundColor="#17A2B8";
                color = 'white';
            }
            return {backgroundColor, color};
        },
        nextPage: function() {
            let lastPage = parseInt(this.totalNumber/this.itemsPerPage);
            if(this.totalNumber%this.itemsPerPage === 0) {
                lastPage = lastPage-1
            }
            if(lastPage !== this.page) {
                this.onNextPage();
            }
        },
        prevPage: function() {
            if(this.page !== 0) {
                this.onPrevPage();
            }
        },
        changePage: function(page) {
            this.onChangePage(page);
        }
    },
    computed: {
        currentBooksNumber: function() {
            let currentNumber = (this.page + 1) * this.itemsPerPage;
            if(currentNumber > this.totalNumber) {
                return this.totalNumber;
            } else {
                return currentNumber;
            }
        }
    },
}
</script>