<template>
    <div class="modal fade" :id="'bookDetails' + book.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">{{ book.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <img  src="https://www.freeiconspng.com/uploads/book-bookmark-icon-5.png" style="height: 90px; width:90px" class="card-img-top mt-3 mb-3" alt="...">
                    <p class="font-weight-bold">Donata de:</p>
                    <p class="font-weight-light ml-2"><font-awesome-icon class="mr-2" icon="user" />{{ donator.firstName + ' ' + donator.lastName}}</p>
                    <p class="font-weight-light ml-2">  <font-awesome-icon class="mr-2" icon="envelope" />{{ donator.email }}</p>
                    <p class="font-weight-light ml-2"><font-awesome-icon class="mr-2" icon="phone" /> {{ donator.phone }}</p>
                    <span class="font-weight-light ml-2"><font-awesome-icon class="mr-2" icon="map-marker-alt" /> </span>
                    <span class="font-weight-light ml-2">{{ donator.address.street}},</span>
                    <span class="font-weight-light ml-2">{{ donator.address.city}},</span>
                    <span class="font-weight-light ml-2">{{ donator.address.country}}</span>


                </div>
                <div class="sol-sm-6 pl-3 mt-4">
                    <p class="font-weight-light"><span class="font-weight-bold">Autor:</span> {{book.author}}</p>
                    <p class="font-weight-light"><span class="font-weight-bold">Categorie:</span> {{category}}</p>
                    <p class="font-weight-light"><span class="font-weight-bold">Limba:</span> {{book.language}}</p>
                    <p class="font-weight-light"><span class="font-weight-bold">An:</span> {{book.year}}</p>
                    <p class="font-weight-light"><span class="font-weight-bold">ISBN:</span> {{book.isbn}}</p>
                    <p class="font-weight-light"><span class="font-weight-bold">Pagini:</span> {{book.pages}}</p>
                    <p class="font-weight-light"><span class="font-weight-bold">Donata la:</span> {{bookDate}}</p>

                </div>
            </div>
            <hr />
           <p class="font-weight-bold">Descriere</p>
            <p class="font-weight-light">{{book.description}}</p>
        </div> 
       
        </div>
    </div>
    </div>
</template>

<script>

import moment from 'moment'

export default {
    name: 'BookDetailsModal',
    components: {},
    props: ['book', 'category', 'donator'],
    computed: {
        bookDate: function() {
            return moment(this.book.date).format("MMM Do YYYY, HH:mm:ss");
        }
    }
}
</script>