<template>
    <div class="container mt-4">

    <div class="card mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 font-weight-light">
                    <h4 class="font-weight-normal">
                        Carti donate
                    </h4>   
                </div>
                <div class="col-sm-6">
                <div class="row float-right">
                    <button v-if="isAuthenticated" type="button" class="btn btn-sm btn-info float-right mr-3" data-toggle="modal" data-target="#addNewBook">
                            <font-awesome-icon icon="gift" />
                            <span class="ml-1">Doneaza</span>
                    </button>
                    <button v-if="isAuthenticated && user && user.role === 'admin'" type="button" class="btn btn-sm btn-warning float-right mr-3 text-white" @click="enableCategoriesSection">
                            <font-awesome-icon icon="cog" />
                            <span class="ml-1">Gestioneaza categoriile</span>
                    </button>
                </div>
                   
                </div>
            </div>  
             <hr/>
             <div class="row">
                <div class="col-sm-5 mt-2">
                    <form class="form-inline">
                        <label class="font-weight-light" >Ordoneaza dupa:</label>
                        <select class="form-control form-control-sm ml-2"  v-model="orderBookBy">
                            <option v-for="option in orderBooksOptions" v-bind:value="option.value" v-bind:key="option.value">
                                {{ option.name }}
                            </option>

                        </select>
                    </form>
                </div>
                    <div class="col-sm-4 mt-2">
                    <form v-if="isAuthenticated" class="form-inline">
                        <label class="font-weight-light" >Vezi:</label>
                        <select class="form-control form-control-sm ml-2" v-model="showBookSelectedOption">
                            <option v-for="option in showBooksOptions" v-bind:value="option.value" v-bind:key="option.value">
                                {{ option.name }}
                            </option>
                        </select>
                    </form>
                </div>
                <div class="col-sm-3 mt-2">
                <form class="form-inline my-2 my-lg-0">
                    <label class="font-weight-light" >Cauta:</label>
                    <input class="form-control form-control-sm mr-sm-2  ml-2" placeholder="Cuvant cheie" aria-label="Cuvant cheie" v-model="filter">
                    
                </form>
                </div>
             </div>
        </div>
    </div>
    
    <NewBookModal :modalId="newBookModalId" :categories="categories" :onAddBook="addBook" :editMode="false"/>

    <CategoriesSection v-if="showCategoriesSection" :categories="categories" :onDisableCategoriesSection="disableCategorieSection" :onAddCategory="addCategory" :onDeleteCategory="deleteCategory" :onEditCategory="editCategory"/>

    <BookList :books='filteredBooks' :categories='categories' :users="users" :user="user" :isAuthenticated="isAuthenticated" :onDeleteBook="deleteBook" :onEditBook="editBook" :page="page"/>
    
    <BooksPagination :totalNumber="filteredBooks.length" :page="page" :onNextPage="nextPage" :onPrevPage="prevPage" :onChangePage="changePage"/>
       
    </div>
</template>

<script>

import BookList from './BookList';
import Api from '../../api/Api'
import toastr from 'toastr';
import NewBookModal from './NewBookModal';
import CategoriesSection from '../categories/CategoriesSection';
import BooksPagination from './BooksPagination';

export default {
  name: 'BookSection',
  components: {
      BookList,
      NewBookModal,
      CategoriesSection,
      BooksPagination
  },
  watch: {
      
      showBookSelectedOption: function() {
          this.page = 0;
      },
      orderBookBy: function() {
          this.page = 0;
      },
      filter: function() {
          this.page = 0;
      },
  },
  data() {
      return {
          books: [],
          categories: [],
          users: [],
          newBookModalId: 'addNewBook',
          showCategoriesSection: false,
          showBooksOptions: [
            { name: "Toate cartile", value:1},
            { name: "Cartile mele", value:2},
          ],
          showBookSelectedOption: 1,
          orderBooksOptions: [
            { name: "Cele mai noi", value:1},
            { name: "Numele cartii", value:2},
            { name: "Categorie", value:3},
          ],
          orderBookBy: 1,
          filter: '',
          page: 0
      }
  },
  computed: {
      filteredBooks: function() {
          let books = []
          if(this.isAuthenticated && this.showBookSelectedOption === 2) {
              this.books.forEach(book=>{
                  if(book.userId === this.user.id)  {
                      books.push(book);
                  }
              })
          } else {
              books = [...this.books]
          }

          if(this.filter) {
              let newBooks = [];
              let filter = this.filter.toLowerCase();
              for(let book of books) {
                  if(book.name.toLowerCase().includes(filter)
                    || book.author.toLowerCase().includes(filter)
                   || book.description.toLowerCase().includes(filter)
                  ) {
                      newBooks.push(book);
                  }
              }
              books = [...newBooks]

          }
          if(this.orderBookBy === 1) {
              books.sort((a,b)=>{
                  return b.date - a.date
              })
          } else if(this.orderBookBy === 2) {
              books.sort((a,b)=>{
                  return a.name.localeCompare(b.name)
              })
          } else if(this.orderBookBy === 3) {
              books.sort((a,b)=>{

                  let categoryA = null;
                  let categoryB = null;
                  for(let category of this.categories) {
                      if(category.id === a.categoryId) {
                          categoryA = category.name
                      }
                       if(category.id === b.categoryId) {
                          categoryB = category.name
                      }
                      if(categoryA && categoryB) {
                          break;
                      }
                  }

                  return categoryA.localeCompare(categoryB)
              })
          }
          return books;
      }
  },
  methods:{
      deleteBook: function(bookId) {
          Api.deleteBook(bookId, this.user.token)
            .then(response => {
                toastr.success(response.data);
                 Api.getBooks()
                    .then(response => this.books = response.data)
                    .catch(error => toastr.error(error.response.data))
            })
            .catch(error=>toastr.error(error.response.data))
      },
      addBook: function(book) {
          book.userId = this.user.id;
          Api.addBook(book, this.user.token)
            .then(response => {
                toastr.success(response.data);
                 Api.getBooks()
                    .then(response => this.books = response.data)
                    .catch(error => toastr.error(error.response.data))
            })
            .catch(error=>toastr.error(error.response.data))
      },
      editBook: function(bookId, book) {
          book.userId = this.user.id;
          Api.editBook(bookId, book, this.user.token)
            .then(response => {
                toastr.success(response.data);
                 Api.getBooks()
                    .then(response => this.books = response.data)
                    .catch(error => toastr.error(error.response.data))
            })
            .catch(error=>toastr.error(error.response.data))
      },
      enableCategoriesSection: function() {
          this.showCategoriesSection = true;
      },
      disableCategorieSection: function() {
          this.showCategoriesSection = false;
      },
      addCategory: function(category) {
          Api.addCategory(category, this.user.token)
            .then(response=> {
                toastr.success(response.data);
                Api.getCategories()
                .then(response => this.categories = response.data)
                .catch(error => toastr.error(error))
            })
            .catch(error => toastr.error(error.response.data))
      },
      deleteCategory: function(categoryId) {
          Api.deleteCategory(categoryId, this.user.token)
             .then(response=> {
                toastr.success(response.data);
                Api.getCategories()
                .then(response => this.categories = response.data)
                .catch(error => toastr.error(error))
            })
            .catch(error => toastr.error(error.response.data))
      },
       editCategory: function(categoryId, category) {
          Api.editCategory(categoryId, category, this.user.token)
             .then(response=> {
                toastr.success(response.data);
                Api.getCategories()
                .then(response => this.categories = response.data)
                .catch(error => toastr.error(error))
            })
            .catch(error => toastr.error(error.response.data))
      },
      nextPage: function() {
          this.page = this.page + 1;
      },
      prevPage: function() {
          this.page = this.page - 1;
      },
      changePage: function(page) {
          this.page = page;
      }
  },
  props: ["user", "isAuthenticated"],
  mounted() {
    Api.getBooks()
        .then(response => this.books = response.data)
        .catch(error => toastr.error(error))
    
    Api.getCategories()
        .then(response => this.categories = response.data)
        .catch(error => toastr.error(error))

    Api.getUsers()
        .then(response => this.users = response.data)
        .catch(error => toastr.error(error))
  }
  
}
</script>