<template>
    <div class="modal fade" :id="modalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"> 

                    <template v-if="!editMode">
                        <font-awesome-icon class="mr-2" icon="gift"/>
                        <span>Doneaza o carte</span>
                    </template>
                    <template v-else>
                        <font-awesome-icon class="mr-2" icon="pencil-alt"/>
                        <span>Editeaza detalii cartii</span>
                    </template>
                    
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <div class="form-group mt-2">
                    <label class="font-weight-light">Denumire</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Denumire carte" v-model="name">
                </div>
                <div class="form-group mt-2">
                    <label class="font-weight-light">Autor</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Autor carte" v-model="author">
                </div>
                <div class="form-group mt-2">
                    <label class="font-weight-light">Categorie</label>
                    <select class="form-control form-control-sm" placeholder="Numar pagini carte" v-model="categoryId">
                         <option v-for="category in categories" v-bind:value="category.id" v-bind:key="category.id">
                            {{ category.name }}
                        </option>
                    </select>
                </div>
                <div class="form-group mt-2">
                    <label class="font-weight-light">Limba</label>
                    <input type="text" class="form-control form-control-sm" placeholder="Limba in care este scrisa" v-model="language">
                </div>
                <div class="form-group mt-2">
                    <label class="font-weight-light">ISBN</label>
                    <input type="text" class="form-control form-control-sm" placeholder="ISBN carte" v-model="isbn">
                </div>
                <div class="form-group mt-2">
                    <label class="font-weight-light">An</label>
                    <input type="number" class="form-control form-control-sm" placeholder="An tiparire carte" v-model="year">
                </div>
                <div class="form-group mt-2">
                    <label class="font-weight-light">Numar pagini</label>
                    <input type="number" class="form-control form-control-sm" placeholder="Numar pagini carte" v-model="pages">
                </div>
                <div class="form-group mt-2">
                    <label class="font-weight-light">Descriere</label>
                    <textarea type="number" class="form-control form-control-sm" placeholder="Descriere carte" rows="4" cols="50" v-model="description">

                    </textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-sm" @click="donate">
                
                    <template v-if="editMode">
                        <font-awesome-icon class="mr-2" icon="pencil-alt" />
                        <span>Editeaza</span>
                    </template>
                    <template v-else>
                        <font-awesome-icon class="mr-2" icon="gift" />
                        <span>Doneaza</span>
                    </template>
                    
                    
                </button>
            </div>
            </div>
        </div>
        </div>

</template>

<script>
export default {
    name: "NewBookModal",
    components: {},
    data() {
        return {
            name: '',
            author: '',
            categoryId: '',
            language: '',
            isbn: '',
            year: '',
            pages: '',
            description: ''
        }
    },
    methods: {
        donate: function() {
            let book = {
                name: this.name,
                author: this.author,
                categoryId: this.categoryId,
                language: this.language,
                isbn: this.isbn,
                year: this.year,
                pages: this.pages,
                description: this.description
            };
            if(this.editMode === true) {
                this.onEditBook(this.book.id, book)
            } else {
                this.onAddBook(book);
            }
        }
    },
    mounted() {
        if(this.editMode === true) {
            this.name = this.book.name
            this.author = this.book.author
            this.categoryId = this.book.categoryId
            this.language = this.book.language
            this.isbn = this.book.isbn
            this.year = this.book.year
            this.pages = this.book.pages
            this.description = this.book.description
        }
    },
    props: [ "modalId", "categories", "onAddBook", "book", "editMode", "onEditBook"]
}
</script>