<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
    <div class="navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        
      </ul>
      <div class="form-inline my-2 my-lg-0">
          <template v-if="isAuthenticated && user!==null">
            <span class="text-white mr-4"><font-awesome-icon class="mr-2" icon="user" />{{ user.firstName + ' ' +  user.lastName}} <span v-if="user.role === 'admin'">(admin)</span></span>
            <button class="btn btn-info btn-sm "  @click="onLogOut"><font-awesome-icon class="mr-2" icon="sign-out-alt"/>Delogare</button>
          </template>
          <template v-else>
            <button class="btn btn-info btn-sm mr-2" @click="onShowRegister"><font-awesome-icon class="mr-2" icon="user" />Autentificare</button>
          </template>
           
           
      </div>
    </div>
  </nav>
</template>

<script>

export default {
  name: 'navbar',
  components: {
    
  },
  props: {
    isAuthenticated: Boolean,
    onShowRegister: Function,
    onLogOut: Function,
    user: Object
    
  },
}
</script>


