<template>
    <div class="container-fluid pl-4 pr-4">
        
       <div class="form-group mt-2">
            <label for="email">Adresa de email</label>
            <input type="email" class="form-control" id="emal" aria-describedby="emailHelp" placeholder="Email" v-model="email">
        </div>

         <div class="form-group mt-4">
            <label for="password">Parola</label>
            <input type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Parola" v-model="password">
        </div>

        <div class="form-group mt-4">
            <button type="button" class="btn btn-info col-sm-12" @click="logIn">Autentificare</button>

        </div>
    
        </div>
</template>

<script>

import Api from '../../api/Api';
import toastr from 'toastr';

export default {
    name: "LogInForm",
    components: {},
    data() {
        return {
            email: '',
            password: '',
        }
    },
    methods: {
        logIn: function() {
            Api.logIn(this.email, this.password)
                .then(response=>{
                    this.onHideRegister();
                    this.onFillUser(response.data);
                    toastr.success("Autentificare realizata cu succes")
                })
                .catch(error=> toastr.error(error.response.data));
        }
    },
    props: {
        onHideRegister: Function,
        onFillUser: Function
    }
}
</script>