<template>
    <div class="container-fluid pl-4 pr-4">

        <div class="form-group mt-2">
            <label>Nume</label>
            <input type="text" class="form-control" placeholder="Nume" v-model="lastName">
        </div>

        <div class="form-group mt-2">
            <label >Prenume</label>
            <input type="text" class="form-control" placeholder="Prenume" v-model="firstName">
        </div>

        <div class="form-group mt-2">
            <label >Adresa de email</label>
            <input type="email" class="form-control"  placeholder="Email" v-model="email">
        </div>

         <div class="form-group mt-4">
            <label >Parola</label>
            <input type="password" class="form-control" placeholder="Parola" v-model="password">
        </div>

        <div class="form-group mt-4">
            <label>Confirma parola</label>
            <input type="password" class="form-control" placeholder="Confirma parola" v-model="confirmPassword">
        </div>

        <div class="form-group mt-4">
            <label>Telefon</label>
            <input type="text" class="form-control" placeholder="Telefon" v-model="phone">
        </div>

         <div class="form-group mt-4">
            <label>Tara</label>
            <input type="text" class="form-control" placeholder="Tara" v-model="country">
        </div>

         <div class="form-group mt-4">
            <label>Oras</label>
            <input type="text" class="form-control" placeholder="Oras" v-model="city">
        </div>

         <div class="form-group mt-4">
            <label>Strada</label>
            <input type="text" class="form-control" placeholder="Strada" v-model="street">
        </div>

          <div class="form-group mt-4">
            <button type="button" class="btn btn-info col-sm-12" @click="registerUser">Inregistrare</button>
        </div>

        </div>
</template>

<script>

import toastr from 'toastr';

export default {
    name: "RegisterForm",
    components: {},
    props: ["onRegister"],
    data() {
        return {
            firstName: '',
            lastName: '',
            email: '',
            password: '',
            confirmPassword: '',
            phone: '',
            country: '',
            city: '',
            street: '',
        }
    },
    methods: {
        registerUser: function() {
            if(this.password === this.confirmPassword) {
                let user = {
                    firstName: this.firstName,
                    lastName: this.lastName,
                    email: this.email,
                    password: this.password,
                    phone: this.phone,
                    address: {
                        country: this.country,
                        city: this.city,
                        street: this.street
                    }
                }
                this.onRegister(user);
            } else {
                toastr.error("Parola introdusa nu este aceeasi cu parola confirmata")
            }
        }
    },
}
</script>