<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
            </div>
             <div class="col-sm-4">
                <div class="card mt-5 mb-5">
                <div class="card-body pt-0 pl-3 pr-3">
                    <div class="row">
                        <div class="btn-group col-sm-12 pl-0 pr-0" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light pt-2 pb-2 font-weight-normal" @click="showLogInForm">Autentificare</button>
                            <button type="button" class="btn btn-light pt-2 pb-2 font-weight-normal" @click="hideLogInForm">Inregistrare</button>
                        </div>
                    </div>
                       
                    </div>
                    <LogInForm v-if="showLogIn" :onHideRegister="onHideRegister" :onFillUser="onFillUser"/>
                    <RegisterForm v-if="!showLogIn" :onRegister="registerUser"/>

            </div>    
            </div> 
            <div class="col-sm-4">
            </div>
        </div>
        
    </div>
</template>

<script>

import LogInForm from './LogInForm';
import RegisterForm from './RegisterForm';
import Api from '../../api/Api';
import toastr from 'toastr';

export default {
    name: "RegisterSection",
    components: {
        LogInForm, RegisterForm
    },
    data() {
        return {
            showLogIn: true
        }
    },
    methods: {
        showLogInForm: function() {
            this.showLogIn = true;
        },
        hideLogInForm: function() {
            this.showLogIn = false;
        },
        registerUser: function(user) {
            Api.register(user)
                .then(response => {
                    toastr.success(response.data);
                    this.showLogIn = true;
                })
                .catch(error=>toastr.error(error.response.data));
        }
    },
    props: {
        onHideRegister: Function,
        onFillUser: Function
    }
}
</script>