<template>
  <div id="app">
      <Navbar :isAuthenticated="isAuthenticated" :onShowRegister="showRegister" :user="user" :onLogOut="logOut"/>
      <BooksSection v-if="!showRegistration" :user="user" :isAuthenticated="isAuthenticated"/>
      <RegisterSection v-if="showRegistration" :onHideRegister="hideRegister" :onFillUser="fillUser"/>
  </div>
</template>

<script>

import Navbar from './components/navbar/Navbar';
import BooksSection from './components/books/BooksSection';
import RegisterSection from './components/register/RegisterSection';
import toastr from 'toastr';

export default {
  name: 'app',
  components: {
      Navbar, BooksSection, RegisterSection
  },
  data() {
      return {
          isAuthenticated: false,
          showRegistration: false,
          user: null
      }
  },
  methods: {
      showRegister: function() {
          this.showRegistration = true;
      },
      hideRegister: function() {
          this.showRegistration = false;
      },
      fillUser: function(user) {
          this.user = user;
          this.isAuthenticated = true;
        try {
            const serializedState = JSON.stringify(this.user);
            localStorage.setItem('user',serializedState);
        }
        catch(error) {
            //Ignore
        }
      },
      logOut: function() {
          this.user = null;
          this.isAuthenticated = false;
          toastr.success("Delogare realizata cu succes")
          try {
            const serializedState = JSON.stringify(this.user);
            localStorage.setItem('user',serializedState);
            }
            catch(error) {
                //Ignore
            }
      }
  },
    mounted() {
        try {
            const serializedState = localStorage.getItem('user');
            if(serializedState!==null && serializedState !== 'null') {
                this.user = JSON.parse(serializedState);
                this.isAuthenticated = true;
            }
        }
        catch (error) {
            //Ignore
        }
    }

}
</script>
<style>
#app {
  background-color: #EFEFEF;
  height: 100%;
  width: 100%
}
</style>


